#slider{/*положение слайдера*/
    position: relative;
    text-align: center;
    top: 2rem;
    margin: 0 auto;
}
#slider{/*центровка слайдера*/
margin: 0 auto;
}
#slider article{/*изо справа друг от друга*/
    width: 20%;
    float: left;
}
#slides .image{/*устанавливает общий размер блока*/
    width: 500%;
    line-height: 0;
}
#overflow{/*скрывает все, что за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}
article img{/*размер изо слайдера*/
    width: 100%;
}
#desktop:checked ~ #slider{/*размер всего слайдера*/
    max-width: 960px;/*макс длина*/
} 
/*настройка переключения и положения левой кнопки*/
#switch1:checked ~ #controls label:nth-child(4),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3){
    background: url('pic/prev.png') no-repeat;/*заливка фона картинкой */
    float: left;
    margin: 0 0 0 -8rem;
    display: block;
    height: 4rem;
    width: 4rem;
}
/*настройка положения правой кнопки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1){
    background: url('pic/next.png') no-repeat;/*заливка фона картинкой */
    float: right;
    margin: 0 -8rem 0 0;
    display: block;
    height: 4rem;
    width: 4rem;
}
label, a{
    cursor: pointer;
}
.all input{
    display: none;
}
#switch1:checked ~ #slides .image{
    margin-left: 0;
}
#switch2:checked ~ #slides .image{
    margin-left: -100%;
}
#switch3:checked ~ #slides .image{
    margin-left: -200%;
}
#switch4:checked ~ #slides .image{
    margin-left: -300%;
}
#controls{/* положение блока всех управляющих елементов */
    margin: -25% 0 0 0;
    width: 100%;
    height: 4rem;
}
#active label{/* стиль отдельного переключателя */
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}
#active{/* расположение блока с переключателями */
    margin: 23% 0 0;
    text-align: center;
}
#active label:hover{ /* поведение чекбокса при наведении */
    background: #767676;
    border-color: #777 !important;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4){
    background: #18a3dd;
    border-color: #18a3dd !important;
}
#slides .image{ /* анимация пролистывания изображений */
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover{
    opacity: 0.6;
}
#controls label{
    transition: 0.2s ease-out;
}