.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    max-height: 50rem;
}
#slider{/*положение слайдера*/
    
    margin: 0 auto;
    max-height: 50rem;
}
#slider{/*центровка слайдера*/
margin: 0 auto;
}
p{
    margin-top: 5%;
    text-align: left;
    font-family: Georgia;
    font-size: 125%;
    

}
#slider article{/*изо справа друг от друга*/
    width: 20%;
    display:inline-block;
}
#slides .image{/*устанавливает общий размер блока*/
    width: 500%;
    line-height: 0;
}
#overflow{/*скрывает все, что за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}
article img{/*размер изо слайдера*/
    width: 100%;
}
#desktop:checked ~ #slider{/*размер всего слайдера*/
    max-width: 50rem;/*макс длина*/
} 

label, a{
    cursor: pointer;
    
}
#active:hover{
    cursor: pointer;  
 
    
}
.all input{
    display: none;
}
#switch1:checked ~ #slides .image{
    margin-left: 0;
}
#switch2:checked ~ #slides .image{
    margin-left: -100%;
}
#switch3:checked ~ #slides .image{
    margin-left: -201%;
}
#switch4:checked ~ #slides .image{
    margin-left: -301%;
}

#active label{/* стиль отдельного переключателя */
    border-radius: 3rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #bbb;
}
#active{/* расположение блока с переключателями */
    margin: -4% 0 0;
    text-align: right;
}
#active label:hover{ /* поведение чекбокса при наведении */
    box-shadow: inset 0 0 0 10% #bbb;
    background: #767676;
    border-color: #777 !important;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4){
    background: #18a3dd;
    border-color: #18a3dd !important;
}
#slides .image{ /* анимация пролистывания изображений */
    transition: all 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    
}

@media (max-width: 767px) {
    #active{/* расположение блока с переключателями */
        margin: -10% 0 0;
        text-align: center;
    }
    p{
        margin-top: 10%;
        text-align: left;
        font-family: Georgia;
        font-size: 125%;
    
    }
}
@media (max-width: 490px) {
    #active{/* расположение блока с переключателями */
        order:1;
        margin: -18% 0 0;
        text-align: center;
        height: 80%;
    }
    p{
        order: 2;
        margin-top: 17%;
        text-align: left;
        font-size: 100%;
    
    }
}